- content_for :page_title do
  = t('verification.verification')

- content_for :heading do
  %h2= t('settings.profile')
  = render partial: 'settings/shared/profile_navigation'

= simple_form_for @account, url: settings_verification_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: @account

  %p.lead= "Verify Using A Privacy Forward, Portable Identity That Works Across Federated Instances."

  %h4= t('verification.here_is_how')
  %p.lead= "Confirm ownership of a variety of everyday services such as blogs and social networks; more digital footprints means more trust and confidence."

  %h3= t('verification.turn_on_verified_identity')

  .fields-group
    %label
    = f.simple_fields_for :settings, current_user.settings do |ff|
      .fields-group
        = ff.input :wants_verified_identity, wrapper: :with_label, hint: t('verification.verified_identity_is_the_single_most_powerful_thing_you_can_do_to_amplify_your_profile')

      %h3= t('verification.privacy_settings')

      .fields-group
        %label
        = f.simple_fields_for :settings, current_user.settings do |ff|
          .fields-group
            = ff.input :display_your_public_identity_profile, wrapper: :with_label, hint: t('verification.privacy_is_your_choice_knowing_your_rank_and_score_make_you_visibly_trusted')
            = ff.input :display_public_social_properties, wrapper: :with_label, hint: t('verification.showcase_public_links_and_properties_you_want_others_to_see_and_share')
          .fields-group
            = ff.input :display_verified_contact_information, wrapper: :with_label, hint: t('verification.verified_contact_details_helps_others_know_you_and_reach_you')
          .fields-group
            = ff.input :display_personal_information, wrapper: :with_label
            = ff.input :omit_age, wrapper: :with_label, hint: t('verification.do_not_display_age_related_information')
            = ff.input :omit_pronouns, wrapper: :with_label, hint: t('verification.do_not_display_gender_related_information')
            = ff.input :omit_location, wrapper: :with_label, hint: t('verification.do_not_display_location_related_information')


  %p.lead= "Verify Using The Standard Mastodon Way"

  %h4= t('verification.here_is_how')
  %p.lead= t('verification.instructions_html')

  .input-copy.lead
    .input-copy__wrapper
      %input{ type: :text, maxlength: '999', spellcheck: 'false', readonly: 'true', value: link_to('Mastodon', ActivityPub::TagManager.instance.url_for(@account), rel: 'me').to_str }
      %button{ type: :button }= t('generic.copy')

  %p.lead= t('verification.extra_instructions_html')

  - if @verified_links.any?
    %h4= t('verification.verified_links')
    %ul.lead
      - @verified_links.each do |field|
        %li
          .verified-badge
            = fa_icon 'check', class: 'verified-badge__mark'
            %span= field.value

  .actions
    %button{ type: :submit, class: 'button' }
      = t('generic.save_changes')
