- content_for :page_title do
  = "Verified identity settings"

%p.lead= t('verify.description_html')

%hr.spacer/

- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'public', crossorigin: 'anonymous'
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- content_for :content do
  .admin-wrapper
    .sidebar-wrapper
      .sidebar-wrapper__inner
        .sidebar
          = link_to root_path do
            = render_logo

          .sidebar__toggle
            .sidebar__toggle__logo
              = link_to root_path do
                = logo_as_symbol(:wordmark)

            = link_to '#', class: 'sidebar__toggle__icon', 'aria-label': t('navigation.toggle_menu'), 'aria-expanded': 'false' do
              = fa_icon 'bars'
              = fa_icon 'times'

          = render_navigation

    .content-wrapper
      .content
        .content__heading
          - if content_for?(:heading)
            = yield :heading
          - else
            .content__heading__row
              %h2.content__heading__title= yield :page_title

              - if content_for?(:heading_actions)
                .content__heading__actions
                  = yield :heading_actions

        = render 'application/flashes'

        %div.content-section
          %h2.content-section__title.TruAnon__ADMIN
          %p.lead
            TruAnon offers a credible identity in just 10 minutes, globally. This continuous identity verification is stronger than a security gate; it means people cannot return if their accounts are turned off. Plus, being equally available means avoiding confirmation is just as clear as having it. The effect is immediate, like installing safety lights; regular people pass without distraction while fraudsters avoid the spotlight.

          .content-section__border
            %div.field.is-horizontal
              %div.field-label.is-normal
                %label.label{for: 'service_name'} Service Name
              .field-body
                .field.is-narrow
                  .control
                    %input#service_name{type: 'text', placeholder: 'Enter Service Name', class: 'input'}

            %div.field.is-horizontal
              %div.field-label.is-normal
                %label.label{for: 'private_key'} Private Key
              .field-body
                .field.is-narrow
                  .control
                    %input#private_key{type: 'text', placeholder: 'Enter Private Key', class: 'input'}

            %div.field.is-horizontal
              %div.field-label.is-normal
                %label.label{for: 'enable_verified_identity'} Enable Verified Identity
              .field-body
                .field.is-narrow
                  .control
                    %label.checkbox
                      %input#enable_verified_identity{type: 'checkbox'}
                      Turn On/Off


            %div.field.is-horizontal
              %div.field-label.is-normal
                %label.label{for: 'enable_unknown_badge'} Enable "Unknown" Badge State
              .field-body
                .field.is-narrow
                  .control
                    %label.checkbox
                      %input#enable_unknown_badge{type: 'checkbox'}
                      Turn On/Off


        = yield

    .sidebar-wrapper.sidebar-wrapper--empty

